<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BaseContext" 
         connectionString="Data Source=10.6.2.231;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=Guven__55"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
